{% extends "base.html" %}

{% block content %}

    <h1>Cotizador</h1>
    <form method="POST">
	<table style="width:100%">
		<tr>       
            <th colspan="2"><label for="valor_factura">Valor Factura ($):</label></th>
            <td><input type="text" class="format-number-commas" id="valor_factura" name="valor_factura" value="{{ input_lines.valor_factura }}" required></td>
		</tr>
        <tr>
            <th colspan="2"><label for="accesorios">Accesorios ($):</label></th>
            <td><input  type="text" class="format-number-commas" id="accesorios" name="accesorios" value="{{ input_lines.accesorios }}" required></td>
        </tr>
        <tr>
            <th colspan="2"><label for="plazo_meses">Plazo (meses):</label></th>
            <td><input type="number" id="plazo_meses" name="plazo_meses" value="{{ input_lines.plazo_meses }}" required></td>
        </tr>
        <tr>
            <th colspan="2"><label for="seguro">Seguro ($):</label></th>
            <td><input type="text" class="format-number-commas" id="seguro" name="seguro" value="{{ input_lines.seguro }}" required></td>
        </tr>
        <tr>
            <th colspan="2"><label for="pago_inicial_total">Pago Inicial Total ($):</label></th>
            <td><input  type="text" class="format-number-commas" id="pago_inicial_total" name="pago_inicial_total" value="{{ input_lines.pago_inicial_total }}" required></td>
        </tr>
        <tr>
            <th rowspan="2">Residual S/IVA</th>
			<th><label for="residual_siva">Valor ($):</label></th>
            <td><input  type="text" class="format-number-commas" id="residual_siva" name="residual_siva" value="{{ input_lines.residual_siva if api_response else 0 }}"></td>
        </tr>
        <tr>
			<th><label for="tasa_residual_siva">Porcentaje (%):</label></th>
            <td><input type="number" step="0.01" id="tasa_residual_siva" name="tasa_residual_siva" value="0" required></td>
        </tr>
        <tr>
            <th><label for="deposito_garantia">Depósito en garantia ($):</label></th>
			<td><input type="checkbox" id="es_inversion" name="es_inversion" {{ 'checked' if input_lines.es_inversion else ''}}>
            <label for="es_inversion">Es inversión?</label></td>
            <td><input  type="text" class="format-number-commas" id="deposito_garantia" name="deposito_garantia" value="{{ ( input_lines.deposito_garantia  if api_response else 0 )}}" required></td>
        </tr>
        <tr>
            <th colspan="2"><label for="tasa_fondo_reserva">Fondo de Reserva (%):</label></th>
            <td><input type="number" step="0.01" id="tasa_fondo_reserva" name="tasa_fondo_reserva" value="{{ ( input_lines.tasa_fondo_reserva  if api_response else 0 )}}" required></td>
        </tr>
        <tr>
            <th colspan="2"><label for="tipo_activo">Tipo Activo:</label></th>
            <td><select name="tipo_activo" id="tipo_activo" required>
			<option value="">No Seleccionado</option>
            {% for key, value in tbl_tipo_activo.items() %}
                <option value="{{ key }}" {{ 'Selected' if key == input_lines.tipo_activo else ''}}>{{ key }}</option>
            {% endfor %}
			</select></td>
        </tr>
        <tr>
            <th colspan="2"><label for="tipo_vehiculo">Tipo Vehículo:</label></th>
            <td><select name="tipo_vehiculo" id="tipo_vehiculo" required>
			<option value="">No Seleccionado</option>
            {% for key, value in tbl_tipo_vehiculo.items() %}
                <option value="{{ key }}"{{ 'Selected' if key == input_lines.tipo_vehiculo else ''}}>{{ value }}</option>
            {% endfor %}
			</select></td>
        </tr>
        <tr>
            <th colspan="2"><label for="tasa_comision_apertura">Tasa Comisión Apertura (%):</label></th>
            <td><input type="number" step="0.01" id="tasa_comision_apertura" name="tasa_comision_apertura" value="{{ input_lines.tasa_comision_apertura }}" required></td>
        </tr>
        <tr>
            <th rowspan="2">Tasa Interés Anual:</th>
            <th><label for="tasa_interes_anual">Tasa Interés (%):</label></th>
			<td><input type="number" step="0.01" id="tasa_interes_anual" name="tasa_interes_anual" value="{{ input_lines.tasa_interes_anual if api_response else 0 }}" required></td>
        </tr>
        <tr>
            <th><label for="plan_tasa">Plan:</label></th>
			<td><select name="plan_tasa" id="plan_tasa" >
			<option value="" >No Seleccionado</option>
            {% for key, value in tbl_planes.items() %}
                <option value="{{ key }}" {{ 'Selected' if key == input_lines.plan_tasa else ''}}>{{ key }}</option>
            {% endfor %}
			</select></td>
        </tr>
        <tr>
            <th colspan="2"><label for="num_parametros_facturacion">Número Parámetros Facturación:</label></th>
            <td><input type="number" id="num_parametros_facturacion" name="num_parametros_facturacion" value="{{ input_lines.num_parametros_facturacion }}" required></td>
        </tr>
        <tr>
            <td align = "center" colspan="3"><input type="submit" value="Consultar API">
        </tr>
	</table>
    </form>

    {% if api_response %}
		<body>
			<h1>Resultados del cotizador</h1>
			<div class="container">
				<button onclick="openPopup()">Salvar Cotización</button>
			</div>

			<div class="tabs">
				<button class="tablinks active" onclick="openTab(event, 'resumen')">Tabla de Resumen</button>
				<button class="tablinks" onclick="openTab(event, 'interna')">Tabla Interna</button>
				<button class="tablinks" onclick="openTab(event, 'amortizacion')">Tabla de Amortización</button>
				<button class="tablinks" onclick="openTab(event, 'facturacion')">Tabla de Facturación</button>
				<button class="tablinks" onclick="openTab(event, 'cotizacion')">Datos de Cotización</button>
			</div>

			<div id="amortizacion" class="tabcontent" style="display: block;">
				<h2>Tabla de Amortización</h2>
				{% if api_response.tabla_amortizacion %}
					<p><strong>Renta Mensual Calculada:</strong> {{ "${:,.2f}".format(api_response.renta_mensual_calculada) }}</p>
					<p><strong>Valor Inicial Arrendamiento:</strong> {{ "${:,.2f}".format(api_response.monto_arrendamiento_siva) }}</p>
					<table>
						<thead>
							<tr>
								<th>Mes</th>
								<th>Renta Mensual Calculada</th>
								<th>Interés Pagado</th>
								<th>Capital Pagado</th>
								<th>Saldo Pendiente</th>
							</tr>
						</thead>
						<tbody>
							{% for row in api_response.tabla_amortizacion %}
							<tr>
								<td>{{ row.mes }}</td>
								<td>{{ "${:,.2f}".format(row.renta_mensual_calculada) }}</td>
								<td>{{ "${:,.2f}".format(row.interes_pagado) }}</td>
								<td>{{ "${:,.2f}".format(row.capital_pagado) }}</td>
								<td>{{ "${:,.2f}".format(row.saldo_pendiente) }}</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				{% else %}
					<p>No hay datos disponibles para la Tabla de Amortización.</p>
				{% endif %}
			</div>

			<div id="facturacion" class="tabcontent">
				<h2>Tabla de Facturación</h2>
				{% if api_response.tabla_facturacion %}
					<p><strong>Renta Mensual Calculada:</strong> {{ "${:,.2f}".format(api_response.renta_mensual_calculada) }}</p>
					<p><strong>Descuento Mensual (-):</strong> {{ "${:,.2f}".format(api_response.descuento_mensual) }}</p>
					<p><strong>Fondo de Reserva (+):</strong> {{ "${:,.2f}".format(api_response.fondo_reserva) }}</p>
					<p><strong>Renta Mensual Facturada:</strong> {{ "${:,.2f}".format(api_response.renta_mensual_facturada) }}</p>
					<table>
						<thead>
							<tr>
								<th>Concepto</th>
								<th>Valor</th>
							</tr>
						</thead>
						<tbody>
							{% for key, value in api_response.tabla_facturacion.items() %}
							<tr>
								<td><strong>{{ key.replace('_', ' ').title() }}</strong></td>
								<td>{{ "${:,.2f}".format(value) }}</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				{% else %}
					<p>No hay datos disponibles para la Tabla de Facturación.</p>
				{% endif %}
			</div>

			<div id="cotizacion" class="tabcontent">
				<h2>Datos de Cotización</h2>
				{% if api_response.tabla_cotizacion %}
					<table>
						<thead>
							<tr>
								<th>Concepto</th>
								<th>Valor</th>
							</tr>
						</thead>
						<tbody>
							{% for key, value in api_response.tabla_cotizacion.items() %}
							<tr>
								<td><strong>{{ visualizacion_cotizacion[key] }}</strong></td>
								<td>{{ "${:,.2f}".format(value) }}</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				{% else %}
					<p>No hay datos disponibles para los datos de cotización.</p>
				{% endif %}
			</div>

			<div id="resumen" class="tabcontent">
				<h2>Tabla de Resumen</h2>
				{% if api_response.tabla_resumen %}
					<p><strong>Pago Crédito Calculado:</strong> {{ "${:,.2f}".format(api_response.pago_credito_calculada) }}</p>
					<p><strong>Renta Mensual Calculada:</strong> {{ "${:,.2f}".format(api_response.renta_mensual_calculada) }}</p>
					<table>
						<thead>
							<tr>
								<th>Concepto</th>
								<th>Compra</th>
								<th>Crédito</th>
								<th>Leasing + Compra</th>
								<th>Solo Leasing</th>
							</tr>
						</thead>
						<tbody>
							{% for key, value in api_response.tabla_resumen.items() %}
							<tr>
								<td><strong>{{ key[3:] }}</strong></td>
								<td>{{ "${:,.2f}".format(value.Compra) }}</td>
								<td>{{ "${:,.2f}".format(value.Credito) }}</td>
								<td>{{ "${:,.2f}".format(value['Leasing + compra']) }}</td>
								<td>{{ "${:,.2f}".format(value['Solo Leasing']) }}</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				{% else %}
					<p>No hay datos disponibles para la Tabla de Resumen.</p>
				{% endif %}
			</div>

			<div id="interna" class="tabcontent">
				<h2>Tabla Interna</h2>
				{% if api_response.tabla_resumen %}
					<p><strong>Tasa Interna de Retorno:</strong> {{ "{:,.2f}".format(api_response.tir) }}</p>
					<table>
						<thead>
							<tr>
								<th>Año</th>
								<th>Tasa real</th>
								<th>Tasa efectiva</th>
								<th>Ingresos Capital</th>
								<th>Ingresos Intereses</th>
								<th>Pago Residual</th>
								<th>Capital Vigente</th>
								<th>Pago a Capital</th>
							</tr>
						</thead>
						<tbody>
							{% for key, value in api_response.tabla_interna.items() %}
							<tr>
								<td><strong>{{ key }}</strong></td>
								<td>{{ "{:,.2f}".format(value.tasa_real) }}</td>
								<td>{{ "{:,.2f}".format(value.tasa_efectiva) }}</td>
								<td>{{ "${:,.2f}".format(value.ingresos_capital) }}</td>
								<td>{{ "${:,.2f}".format(value.ingresos_intereses) }}</td>
								<td>{{ "${:,.2f}".format(value.pago_residual) }}</td>
								<td>{{ "${:,.2f}".format(value.capital_vigente) }}</td>
								<td>{{ "${:,.2f}".format(value.pago_capital) }}</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				{% else %}
					<p>No hay datos disponibles para la Tabla Interna.</p>
				{% endif %}
			</div>

			<script>
				function openTab(evt, tabName) {
					var i, tabcontent, tablinks;

					// Get all elements with class="tabcontent" and hide them
					tabcontent = document.getElementsByClassName("tabcontent");
					for (i = 0; i < tabcontent.length; i++) {
						tabcontent[i].style.display = "none";
					}

					// Get all elements with class="tablinks" and remove the class "active"
					tablinks = document.getElementsByClassName("tablinks");
					for (i = 0; i < tablinks.length; i++) {
						tablinks[i].className = tablinks[i].className.replace(" active", "");
					}

					// Show the current tab, and add an "active" class to the button that opened the tab
					document.getElementById(tabName).style.display = "block";
					evt.currentTarget.className += " active";
				}

				// Open the default tab on page load
				document.addEventListener('DOMContentLoaded', (event) => {
					document.querySelector('.tablinks.active').click();
				});
			</script>
			<script>
				function openPopup() {
					// Configura las propiedades de la ventana pop-up
					const width = 800;
					const height = 800;
					const left = (screen.width / 2) - (width / 2);
					const top = (screen.height / 2) - (height / 2);

					// Abre la ventana pop-up
					// 'open_popup' es una ruta de Flask que podría servir contenido
					// o simplemente una página estática para el popup.
					// Para este ejemplo, el contenido del popup es simple texto.
					const popupWindow = window.open('/open_popup', 'PopupVentana',
						`width=${width},height=${height},left=${left},top=${top},scrollbars=yes,resizable=yes`);

					// Opcional: enfocar la ventana si ya está abierta
					if (popupWindow) {
						popupWindow.focus();
					} else {
						alert("El pop-up fue bloqueado por el navegador. Por favor, deshabilita el bloqueador de pop-ups para este sitio.");
					}
				}
			</script>
		</body>
    {% elif error_message %}
        <p style="color: red;">{{ error_message }}</p>
    {% endif %}
{% endblock %}