{% extends "base.html" %}

{% block content %}
    <h1>Identificar Ofertas</h1>
    <form method="POST">
        <div class="form-group">
            <label for="valor_factura">Valor factura:</label>
            <input type="text" class="format-number-commas" id="valor_factura" value="{{ valor_factura }}" name="valor_factura" required>
        </div>
        <div class="form-group">
            <label for="plazo">Plazo (meses):</label>
            <input type="number" id="plazo" value="{{ plazo }}" name="plazo" required>
        </div>
        <div class="form-group">
            <label for="enganche_c_iva">Enganche c/IVA:</label>
            <input type="text" class="format-number-commas" id="enganche_c_iva" value="{{ enganche_c_iva }}" name="enganche_c_iva" required>
        </div>
        <div class="form-group">
            <label for="valor_residual_s_iva">Valor residual S/IVA:</label>
            <input type="text" class="format-number-commas" id="valor_residual_s_iva" value="{{ valor_residual_s_iva }}" name="valor_residual_s_iva" required>
        </div>
        <div class="form-group">
            <label for="pago_mensual">Pago Mensual:</label>
            <input type="text" class="format-number-commas" id="pago_mensual" value="{{ pago_mensual }}" name="pago_mensual" required>
        </div>
        <div class="form-group">
            <label for="comision_apertura">Comisión Apertura:</label>
            <input type="text" class="format-number-commas" id="comision_apertura" value="{{ comision_apertura }}" name="comision_apertura" required>
        </div>
        <div class="form-group">
            <input type="checkbox" id="es_credito" name="es_credito" {{ 'checked' if es_credito else ''}}>
            <label for="es_credito">Es crédito?</label>
        </div>
        <div class="form-group">
            <input type="submit" value="Calcular Tasa de Interés">
        </div>
    </form>

    {% if tasa_interes is not none %}
        <h2>Resultado del Cálculo</h2>
        <p>La tasa de interés anual calculada es: <strong>{{ "%.4f"|format(tasa_interes) }}%</strong></p>
    {% endif %}
{% endblock %}